build --cxxopt='-std=c++11' 
build --copt  -I/usr/local/include/tensorflow/include --copt -D_GLIBCXX_USE_CXX11_ABI=0
build --linkopt -L/usr/local/lib/python3.5/dist-packages/tensorflow --linkopt -ltensorflow_framework --linkopt "-Wl,--rpath=/usr/local/lib/python3.5/dist-packages/tensorflow"
build -c opt
